{% extends 'base.html' %}
{% block content %}
    <h2>Reset your password</h2>
    <form method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.new_password.label }}</td>
            <td>{{ form.new_password() }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password_check.label }}</td>
            <td>{{ form.new_password_check() }}</td>
        </tr>
        <tr>
            <td>{{ form.submit() }}</td>
        </tr>
    </table>
    </form>
{% endblock %}